{% extends "base.html" %}

{% block main %}
  <h1>{{ lesson.title }}</h1>
  
  <ul>
    <li><a href="#content">Content</a></li>
  </ul>
  
  <h2 id="content">Content</h2>
  
  <div class="content-container">
    {{ lesson.lessonHtml | safe }}
  </div>
  
  <script>
    {{ browserJavaScript | safe }}
  </script>
  <script>
    (function() {
      var module = window["{{ browserModuleName }}"];
      var containers = document.getElementsByClassName("content-container");
      var element = containers[containers.length - 1];
      module.init(element);
    })();
    
  </script>
  
{% endblock %}


