{% extends "base.html" %}

{% block main %}
  <h1>{{ lesson.title }}</h1>
  
  <ul>
    <li><a href="#content">Content</a></li>
    <li><a href="#questions">Questions</a></li>
  </ul>
  
  <div data-lesson-module="{{ browserModuleName }}">
    <h2 id="content">Content</h2>
    
    <div class="content-container">
      {{ lesson.lessonHtml | safe }}
    </div>
    
    <h2 id="questions">Questions</h2>
  </div>
  
  <script>
    {{ browserJavaScript | safe }}
  </script>
  <script src="/js/lesson.js"></script>
  
{% endblock %}


